@import "tailwindcss";

@font-face {
  font-family: "Neue Montreal";
  src: url("../public/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Neue Montreal", sans-serif;
}
